body {
    background-color: rgb(31, 184, 255);
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.inicio {
    display: flex;
    height: 100vh;
}

.foto {
    flex: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 300px;
    height: auto;
    border-radius: 8px 
}