body {
    background-color: rgb(93, 194, 224);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.inicio {
    display: flex;
    height: 100vh;
}

.foto {
    flex: 1;
    background-color: rgb(94, 201, 201);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 300px;
    height: auto;
    border-radius: 8px 
}